body {
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

#header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12vh;
    font-weight: 200;
    text-align: center;
    color: #7a7a7a;
}

#searchArea {
    margin: auto;
    max-width: 500px;
}

#searchTitle,
button,
iframe {
    margin-bottom: 2%;
    text-align: center;
}
p {
    margin-left: 2%;
}
form {
    text-align: center;
}
#searchTitle {
    width: 100%;
    height: 6vh;
    min-height: 26px;
    font-size: 1.8vw;
}
button {
    height: 6vh;
    min-height: 26px;
}
#trailer {
    display: inline-flex;
    margin: 0 auto;
}
iframe {
    width: 58vw;
    height: 32.63vw;
}
#brief {
    color: #ffffff;
    width: 38vw;
    font-size: 18px;
}

#movie-poster {
    width: 7.51em;
    height: 10em;
}

.row {
    margin-bottom: 2%;
}

.dropbtn {
    width: 100%;
    background-color: transparent;
    color: #007bff;
    padding: 14px;
    font-size: 22px;
    border-color: #007bff;
    border-radius: 2px;
    height: 6vh;
    line-height: 3vh;
  }
  
  .dropdown {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
     }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    color: white;
    width: 100%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }
 
#display-poster{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    align-items: center;
}
.container-movie{
	position: relative;
	margin: 4% 3%;
    perspective: 1000px;
    overflow:visible;
}

.movie{
	position: relative;
	width: 270px;
    height: 400px;
    top: 0;
	left: 0;
	transform-style: preserve-3d;
	transform: rotateY(0deg) translateZ(-130px);
	-webkit-transform: rotateY(0deg) translateZ(-130px);
	-moz-transform: rotateY(0deg) translateZ(-130px);
	transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
}
.movie .movie-inside{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
	z-index: 3;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	backface-visibility: hidden;
    box-shadow: 0 5px 7px rgba(0,0,0,.15);
    background: url('./assets/noPoster.png') no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movie-inside img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    color: white;
    line-height: 200px;
    text-align: center;
    font-size: 3vw;
}

.container-movie .movie .front{
    max-width: 100%;
    max-height: 100%;
	transform-origin: 0%;
	-webkit-transform-origin: 0%;
	-moz-transform-origin: 0%;
	transform: translateZ(130px);
	-webkit-transform: translateZ(130px);
	-moz-transform: translateZ(130px);
    background-color: #000;
}

.container-movie .movie .back{
	transform-origin: 100%;
	transform: rotateY(90deg) translateX(140px) translateZ(0px);
	-webkit-transform: rotateY(90deg) translateX(140px) translateZ(0px);
	-moz-transform: rotateY(90deg) translateX(140px) translateZ(0px);
	background: linear-gradient(#fff, #e6e4e4);
}

/* MOVIE DETAILS */
.movie-details{
	position: relative;
	margin: 0;
	padding: 2% 5%;
	width: 100%;
	height: 64%;
    background: linear-gradient(-90deg, #fff, #eee);
    overflow: hidden;
}
.movie-details h1{
	position:relative;
	font-size: 20px;
	font-weight: 700;
	color: #464646;
	text-align: left;
	text-transform: uppercase;
}
.movie-details h1 span{
	font-size: 14px;
	font-weight: 400;
	color: #aaa;
	text-transform: lowercase;
}
.actors {
	font-size: 12px;
	line-height: 15px;
}
.movie-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;    
}
.movie-tags .tags{
    flex-shrink: 4;
	background-color: #ccc;
	margin: 2px 3px 2px 0;
	padding: 3px 7px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.movie-synopsis{
	font-size: 12px;
	line-height: 15px;
    padding: 10px, 10px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.goSeeBtn {
    padding: 5px 10px;
    text-align: center;
    background-color: gray;
}


.dropdown-content a:hover {background-color: #007bff;}

.dropdown:hover .dropdown-content {display: block;}  

.dropdown:hover .dropbtn {background-color: #007bff; color: #ffffff;}

.container-movie:hover .front{
    /* .frontTurn { */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
.container-movie:hover .movie{
    /* .movieTurn { */
    transform: rotateY(-78deg) translateX(-70px) translateZ(0px);
    -webkit-transform: rotateY(-78deg) translateX(-70px) translateZ(0px);
    -moz-transform: rotateY(-78deg) translateX(-70px) translateZ(0px);
}


@media screen and (max-width: 760px) {
 
    #header {
        font-size: 6vh;
    }
    .dropdown,
    #searchTitle,
    #searchtn {
        font-size: 3vh;
    }
    #trailer {
        display: inline;
    }
    iframe {
        width: 94vw;
        height: 52.88vw;
    }
    #brief {
        width: 94vw;
        font-size: 3vh;
    }

    p {
        font-size: smaller;
    }
}